$primary: rgb(46, 145, 43);
$secondary: rgb(12,12,12);

$white: rgb(255,255,255);
$black: rgb(0,0,0);

$warning: rgb(202, 158, 24);
$danger: rgb(179, 63, 28);
$light: rgb(201,201,201);

$breakpoint-laptop: 1440px;
$breakpoint-tablet: 767px;
$breakpoint-phone: 425px;

$phi: 1.6180339887498948482;